.content-box {
  display: inline-block;
}

.btn {
  font-size: 18px;
}

.image-box {
  width: 400px;
  height: 200px;
}

#preload-00 { background: url(https://dummyimage.com/400x200/52ACEEBE5D21) no-repeat -9999px -9999px; }
#preload-01 { background: url(https://dummyimage.com/400x200/FD8F265C45CF) no-repeat -9999px -9999px; }
#preload-02 { background: url(https://dummyimage.com/400x200/768D21AD6511) no-repeat -9999px -9999px; }
#preload-03 { background: url(https://dummyimage.com/400x200/5A686067C23F) no-repeat -9999px -9999px; }
#preload-04 { background: url(https://dummyimage.com/400x200/0E070CEAB80B) no-repeat -9999px -9999px; }
#preload-05 { background: url(https://dummyimage.com/400x200/C13FC82B1BE7) no-repeat -9999px -9999px; }
#preload-06 { background: url(https://dummyimage.com/400x200/B0663BC483CB) no-repeat -9999px -9999px; }
#preload-07 { background: url(https://dummyimage.com/400x200/0244D9F1BA6F) no-repeat -9999px -9999px; }
#preload-08 { background: url(https://dummyimage.com/400x200/3311445D45EF) no-repeat -9999px -9999px; }
#preload-09 { background: url(https://dummyimage.com/400x200/075247DAAB1C) no-repeat -9999px -9999px; }
