{
  "globals": {
    "$": false,
    "arc": false,
    "common": false,
    "createMapboxStreetsV6Style": false,
    "d3": false,
    "geojsonvt": false,
    "GyroNorm": false,
    "jsPDF": false,
    "jsts": false,
    "saveAs": false,
    "toastr": false,
    "topojson": false,
    "topolis": false,
    "turf": false,
    "ol": true,
    "naver": true,
    "mapboxgl": true,
    "math": false,
    "dat": false,
    "olcs": false,
    "mat3": false,
    "mat4": false,
    "Chart": false,
    "EventEmitter3": false,
    "_": false,
    "panzoom": false,
    "PIXI": false,
    "L": false,
    "Tangram": false,
    "deck": false
  },
  "rules": {
    "no-unused-vars": [2, {"varsIgnorePattern": "^map"}]
  }
}
