#container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.canvas-box {
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
}

.canvas-box h2 {
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
}

#canvas-image {
  width: 300px;
  height: 300px;
}

#canvas-image-bitmap {
  width: 300px;
  height: 300px;
}
